.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .food-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 8px;
    padding: 8px;
    overflow: hidden;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    width: 200px;
  }
  
  .food-card:hover {
    transform: scale(1.05);
  }
  
  .food-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 8px;
  }
  
  .food-card h3 {
    margin: 0;
    font-size: 16px;
  }
  
  .food-card p {
    color: #555;
    font-size: 14px;
    margin: 0;
  }
  